.DS_Store

# Environment variables
.env
.server-credentials
.env.local
.env.*.local

# Node modules
node_modules/

# Design artifacts & temp files
*.psd
*.zip
deno.lock

# After Effects project
logo-intro-prisma-*/
